body {
    padding: 0;
    margin: 0;
    background-color:#2F303A;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

nav {
    margin: 1.5rem;
    text-align: right;
}

li {
    list-style: none;
    display: inline;
    padding: 1rem;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}


